* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: hsl(225, 100%, 94%);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 450px;
  margin: 50px 0;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  font-size: 16px;
}

#main-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#below-part {
  padding: 2rem 3rem;
}

#info-container {
  margin-bottom: 1.25rem;
}

#info-container h2 {
  font-weight: 900;
  margin-bottom: 0.8rem;
}

#info-container p {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  line-height: 22px;
}

#price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 1.25rem;
  border-radius: 0.9rem;
}

#price-container #prize {
  display: flex;
  align-items: center;
}

#price-container a {
  font-size: 14px;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}

#price-container a:hover {
  text-decoration: none;
  color: hsla(245, 75%, 52%, 0.7);
}

#prize img {
  height: 2.6rem;
  width: 2.6rem;
  margin-right: 1.15rem;
}

#annual h4 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

#annual p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  color: hsl(224, 23%, 55%);
}

button {
  appearance: none;
  border: none;
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem;
  border-radius: 15px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  font-size: 14px;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
  background-color: hsla(245, 75%, 52%, 0.8);
}

#cancel {
  font-size: 14px;
  font-weight: 800;
  color: hsl(224, 23%, 55%);
  margin-bottom: 0.5rem;
}

#cancel:hover {
  cursor: pointer;
  color: hsl(223, 47%, 23%);
}

/* Responsive CSS */
@media screen and (max-width: 375px) {
  body {
    padding: 1.25rem;
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
  }

  #card {
    width: 325px;
    margin: 30px 0;
  }

  #below-part {
    padding: 2rem 1.5rem;
  }

  #prize img {
    margin-right: 1rem;
  }
}
